.center{
	margin: 0px auto 0px auto;
	width:80%;
	text-align: center;
	vertical-align: middle;
	background-color:#f8f8f8;
	border-radius: 4px;
	padding: 20px 0px;
}

.left{
	margin: 0px auto 0px auto;
	width:80%;
	vertical-align: middle;
	background-color:#f8f8f8;
	border-radius: 4px;
	padding: 20px 20px;
}

.introduction{
	margin: 20px 10px;
}

#flash-card-img{
	margin-bottom: 30px;
	padding: 0px 0px;
}

.or{
	margin: 0px 10px;
}

ul#contibute-file-guide{
	list-style: none;
}

ul#contibute-file-guide li{
	margin-top: 8px;
}

.contribute-policy{
	padding-left: 10px;
}