.answer-blue{
	color: #6ECADC;
	font-size: 16px;
	font-weight: 600;
}

.answer-green{
	color: #3EB991;
	font-size: 16px;
	font-weight: 600;
}

.answer-red{
	color: #E01563;;
}

#flashcard-img{
	margin-bottom: 30px;
	margin-top: 30px;
}

img#flashcard-img.img-responsive{
	display: inline;
}

.choice{
	margin-top: 5px;
}